<div class="text-layout">
    <h1>Custom Pipes</h1>
    <p>
        {{ 'Some' | upperpipe: toUpper }} home-made {{ 'custom' | upperpipe: toUpper }} Pipes
    </p>


</div>

<p-toolbar>
    <div class="p-toolbar-group-left"></div>

    <div class="p-toolbar-group-right">

        <button pButton 
                [label]="buttonLabel"
                [icon]="iconLabel"
                class="mr-2 p-button-warning"
                (click)="change()"></button>

        <button pButton
                icon="pi pi-sort"
                label="by name"
                class="mr-2"
                (click)="setSortValue('name')"></button>

        <button pButton
                icon="pi pi-sort"
                label="flies?"
                class="mr-2 p-button-success"
                (click)="setSortValue('flies')"></button>

        <button pButton
                icon="pi pi-sort"
                label="by color"
                class="mr-2 p-button-danger"
                (click)="setSortValue('color')"></button>
    </div>
</p-toolbar>

<div class="p-grid">
    <div class="p-col mt-3">
        <p-table [value]="heroes | sort: sortValue" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Flies</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hero>
                <tr>
                    <td>{{ hero.name }}</td>
                    <td>{{ hero.flies | flypipe | titlecase }}</td>
                    <td>{{ hero.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

<div class="p-grid">
    <div class="p-col mt-3">
        <p-table [value]="heroes | slice:0" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Name <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="flies">Flies<p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="code"></p-sortIcon></th>
                    <!-- <th>Name</th> -->
                    <!-- <th>Flies</th>
                    <th>Flies</th>
                    <th>color</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hero>
                <tr>
                    <td>{{ hero.name }}</td>
                    <td>{{ hero.flies | flypipe | titlecase }}</td>
                    <td>{{ hero.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>

