<div class="text-layout">
  <h1>{{'Hello world' | titlecase}}</h1>
</div>

<button pButton pRipple 
        label="Do something"
        icon="pi pi-android" iconPos="right"
        class="p-button-help"
        (click)="doSomething()">
</button>

<p-card header="Simple Card" 
        subheader="simple simple"
        [style]="{'width': '25rem', 'margin-top': '2em'}">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Aut voluptatem commodi error. Unde dicta in vitae accusamus 
    nemo, rem, fuga molestiae libero quam ab corrupti sequi? 
    Voluptatum blanditiis ducimus quibusdam.</p>
</p-card>

  


